<div class="container">
    <div class="row">
        <div class="title">
            Nouvelle entreprise
            <p style="font-size: 1.2rem;">Cueillette d'information</p>
        </div>
        <div>
            <form>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Nom de l'entreprise</label>
                        <input class="form-control form-control-lg" placeholder="Nom de l'entreprise">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Division</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection une division --</option>
                            <option>division 1</option>
                            <option>division 2</option>
                            <option>division 3</option>
                            <option>division 4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Region</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection une region --</option>
                            <option>Region 1</option>
                            <option>Region 2</option>
                            <option>Region 3</option>
                            <option>Region 4</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Regions d'affaire</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection une region d'affaire --</option>
                            <option>Region d'affaire 1</option>
                            <option>Region d'affaire 2</option>
                            <option>Region d'affaire 3</option>
                            <option>Region d'affaire 4</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Telephone</label>
                        <input class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Code postal</label>
                        <input class="form-control form-control-lg" placeholder="Nom de l'entreprise">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Adresse</label>
                        <input class="form-control form-control-lg" placeholder="Nom de l'entreprise">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Site</label>
                        <input class="form-control form-control-lg" placeholder="Nom de l'entreprise">
                    </div>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-lg btn-success"><i class="bi bi-send"></i>&nbsp;Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>