<div class="container">
    <div class="row">
        <div class="title">
            Nouvelle division
        </div>
        <div>
            <form>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Prenom">
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-lg btn-success" ><i class="bi bi-send"></i>&nbsp; Enregistrer</button>
                </div>
            </form>

        </div>
    </div>
</div>