<div class="container">
    <div class="row">
        <div class="title">
            Nouveau type de mail
            <p style="font-size: 1.2rem;">Cueillette d'information</p>
        </div>
        <div>
            <form>
                <div class="form-group">
                    <label>Type de mail</label>
                    <input class="form-control form-control-lg" placeholder="Type de mail">
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-lg btn-success"><i class="bi bi-send"></i> &nbsp; Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>