<body>
    <div  style="margin-top: 7%;">
        <div class="container" >
            <div class="row">
                <div class="col-sm-5">
                    <button type="button" class="btn btn-success btn-lg" (click)="add()">
                        Ajouter un nouveau
                        <i class="bi bi-plus-lg"></i>
                    </button>               
                </div>
                <div class="col-sm-5">
                    <input class=" btn-lg"
                    placeholder="Recherche"
                    >
                </div>
                <div class="col-sm-2">
                    <input class=" btn-lg" disabled
                    value="Total: 2"
                    >
                </div>
            </div>
        </div>
        <table class="table table-hover align-middle mb-0">
            <thead class="bg">
                <tr>
                    <th>Prenom</th>
                    <th>Nom</th>                    
                    <th>Email</th>
                    <th>Nom de l'entreprise</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let liste of admin'>
                    <td >
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{liste.prenom}}</p>
                            </div>
                        </div>
                    </td>
                    <td >
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{liste.nom}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{liste.email}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{liste.entreprise}}</p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <!-- <button type="button" class="btn btn-warning btn-sm mod" (click)="update()"> -->
                        <button type="button" class="btn btn-warning btn-sm mod">
                                Modifier
                            <i class="bi bi-pencil-square"></i>                   
                        </button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-danger btn-sm mod">
                            Supprimer
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>