<div class="container">
  <h1 style="margin-top: 15%;">Administration</h1>
  <div class="container rounded" style="border: 5px solid;border-color: #07322C; ">
    <div class="row" style="margin: 10px;">
      <div class="col-sm-3 ">
        <div class="con"  routerLink="inscription">
          <div class="ins"></div>
          <h3>Inscriptions</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="entreprise">
          <div class="ent"></div>
          <h3>Entreprises</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="utilisateur">
          <div class="ins"></div>
          <h3>Utilisateurs</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="division">
          <div class="div"></div>
          <h3>Divisions</h3>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-3 ">
        <div class="con" routerLink="region">
          <div class="reg"></div>
          <h3>Regions</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="mail">
          <div class="mail"></div>
          <h3>Mails</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="typeMail">
          <div class="tymail"></div>
          <h3>Types de mail</h3>
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="con" routerLink="parametre">
          <div class="par"></div>
          <h3>Parametres application</h3>
        </div>
      </div>
    </div>
  </div>
</div>