<div id="media-solution"></div>
<div class="content">
    <div class="app">La solution Humano</div>
    <div class="humano-text-typo-h3 humano-text-color-noirclair p">
        Nous regroupons les maîtres d’oeuvre, architectes, entrepreneurs généraux, corps de métiers,
        manufacturiers et fournisseurs de matériaux autour d’un projet immobilier. Nous leur offrons accès à un
        réseau et à une gamme de services professionnels rendus par nos partenaires, le tout directement sur
        notre plateforme.
    </div>
    <div class="humano-bg-color-turquoise ser">
        <div class="humano-text-typoser">
            Services de nos partenaires
        </div>
        <div class="humano-text-typo-h3 p">
            Que ce soit dès le commencement du projet immobilier, au moment de la soumission ou encore lors de
            l’exécution du projet, profitez de toute une gamme de services offerts par les partenaires d’Humano, au
            bon moment.
        </div>
    </div>
    <div class="solution"></div>
    <div style="margin-top:20px;">
        <div class="im"></div>
        <!-- <img src="../../../../../assets/images/lines-humano-public-solution.svg" class="im"> -->
    </div>
    <div style="text-align: center;;">
        <a href="javascript:void(0)" routerLink="/services/services-de-nos-partenaires" class="
            humano-btn-rect
            humano-text-typo-h3
            humano-bg-color-turquoise">
            Découvrir les services de nos partenaires</a>
    </div>
    <div class="row humano-bg-color-vert" style="margin-top: 50px;">
        <div class="col-lg-6">
            <div class="humano-text-typo-h2"> Aide à la soumission </div>
        </div>
        <div class="col-lg-6">
            <div class="solut"></div>
            <!-- <img src="../../../../../assets/images/media-solution-2.jpg" class="solution-service-image"
                style="padding:0px;object-fit: cover;" /> -->
        </div>
    </div>
    <div class=" row " style="margin-top:30px;">
        <div class="col-sm ">
            <div class="humano-text-typo-h3 humano-text-color-noirclair p" style="margin-top:10px;">
                Pilotez votre collecte de soumissions et soumissionnez à l’aide de données préparées spécifiquement pour
                vous, directement sur la plateforme. Besoin d’aide spécialisée? Nos partenaires sont là pour vous aider.
            </div>
            <div class="humano-text-typo-h3 humano-text-color-noirclair " style="margin-top:10px;">
                Nous vous offrons un processus de soumission uniformisé, simplifié, clé en main.
            </div>
            <div class="humano-text-typo-h3 humano-text-color-noirclair " style="margin-top:10px;">
                Inscrivez-vous pour être notifié des nouveaux projets en cours dans votre région!
            </div>
        </div>
    </div>
    <div style="text-align:right;">
        <a href="javascript:void(0)" class="humano-btn-rect humano-text-typo-h4 notif">Je veux être notifié!</a>
    </div>
    <div class="row humano-bg-color-turquoise" style="margin-top: 50px;">
        <div class="col-sm-6 integ">
            <div class="humano-text-typo-h2" style="line-height: 35px;">Intégration des produits et matériaux</div>
        </div>
        <div class="col-sm-6 humano-text-typoint p">
            <div style="margin-top: 50px;">
                Vous êtes manufacturier ou fournisseur de matériaux? Intégrez votre catalogue de produits ou matériaux à
                même la plateforme collaborative.
            </div>
            <div style="margin-top:50px;">
                Humano facilite l’intégration des données dans votre système existant et vous offre accès à des services
                professionnels de qualité en temps opportun.
            </div>
        </div>
    </div>
    <div style="margin-top:7px;text-align:right; ">
        <a routerLink="/contact" class=" humano-text-typo-h4"
            style="text-decoration:underline;">
            Contactez-nous pour en savoir plus
            <span>
            </span>
            <img src='../../../../assets/images/arrow-right-green-turquoise.png' class="solution-arrow " />
        </a>
    </div>
</div>