<div id="media-publier-un-projet"></div>
<div class="content">
    <div class="app">Trouver un projet</div>
        <div class="humano-text-typo-h3" style="margin-top:30px;">
            Vous êtes sous-traitant d’un corps de métier, manufacturier
            ou fournisseur de matériaux et vous êtes à la recherche d’un nouveau projet?
        </div>
        <div class="humano-text-typo-h4">
            Obtenez toute l’information nécessaire pour soumissionner, clé en main! Soumettez directement sur notre
            plateforme,
            grâce à notre formulaire simplifié de soumission en ligne.Humano et ses partenaires vous accompagnent dans
            votre
            processus de soumission, puis tout au long de la réalisation du projet.
        </div>
    <div class="row humano-text-typo-h3" style="margin-top: 3%;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Critères
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="mb-3">
                            <label class="form-label humano-text-typo-h4">Region</label>
                            <select class="form-select form-select-lg" aria-label="Default select example">
                                <option value="1">Region1</option>
                                <option value="2">Region2</option>
                                <option value="3">Region3</option>
                            </select>
                        </div>
                        <div class="mb-3 humano-text-typo-h4">
                            <label class="form-label ">Vous etes...</label>
                            <select class="form-select form-select-lg" aria-label="Default select example">
                                <option value="1">Construction</option>
                                <option value="2">Construction</option>
                                <option value="3">Construction</option>
                            </select>
                        </div> 
                        <div class="mb-3 humano-text-typo-h4">
                            <label class="form-label ">Type de projet</label>
                            <select class="form-select form-select-lg" aria-label="Default select example">
                                <option value="1">Projet1</option>
                                <option value="2">Projet2</option>
                                <option value="3">Projet3</option>
                            </select>
                        </div>   
                        <div class="mb-3 humano-text-typo-h4">
                            <label class="">Date de commencement des travaux</label>
                            <input type="date" class="form-control form-control-lg">
                        </div>                     
                        <div class="mb-3 humano-text-typo-h4">
                            <label class="form-label ">Titre, Code</label>
                            <input type="text" class="form-control form-control-lg" placeholder="Titre du projet">
                        </div>
                        <div style="text-align: center;margin-top: 5%;">
                            <a class=" humano-btn-rect">
                                Rechercher
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>