<div id="media-services-de-nos-partenaires"></div>
<div class="content">
    <div class="app">Services de nos partenaires</div>
    <div class="humano-text-typo-h3 humano-text-color-noir">
        Trouvez une entreprise membre du réseau Humano qui partage la façon de faire Humano!
    </div>
    <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
        Que ce soit dès le commencement du projet immobilier, au moment de la soumission ou encore lors de
        l’exécution du projet, profitez de toute une gamme de services offerts par les partenaires d’Humano, au
        bon moment.
    </div>

    <div class="row humano-text-typo-h3 humano-text-color-blanc" style="text-align: center;">
        <div class="col-sm-3 ">
            <div class="est">Estimation et gestion de projets</div>
        </div>
        <div class="col-sm-3">
            <div class="ing">Ingénierie</div>
        </div>
        <div class="col-sm-3">
            <div class="des">Dession</div>
        </div>
        <div class="col-sm-3">
            <div class="aff">Affichage et promotion</div>
        </div>
    </div>


    <div class="humano-text-color-blanc humano-bg-color-turquoise humano-text-typo-h2" style="padding-top: 10%;">
        Nos partenaires
    </div>
    <div class=" humano-text-typo" style="color: #07322C;"> Québec</div>

    <div class="row" style="text-align: center;  margin-bottom: 3%">

        <div class="col-sm-3" style="padding: 1%;">
            <div class=" humano-bg-color-grisplatre" style="padding: 20%;">
                <div class="default rounded-circle" style="border: solid; "></div>

                <!-- <img src="../../../../../assets/images/default_company.svg" alt="" class="rounded-circle" width="50%"
                    style="border: solid; "> -->
                <div class="humano-text-typo-h3">BOISERIES SEM INC.</div>
                <div style="padding-top: 40%;padding-bottom: 20%; color: white;">
                    <a target="_blank" class="
                humano-btn-rect
                humano-text-typo-h3
                humano-bg-color-turquoise">
                        Voir le site
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 1%;">
            <div class=" humano-bg-color-grisplatre" style="padding: 20%;">
                <div class="default rounded-circle" style="border: solid; "></div>

                <!-- <img src="../../../../../assets/images/default_company.svg" alt="" class="rounded-circle" width="50%"
                    style="border: solid; "> -->
                <div class="humano-text-typo-h3">BOISERIES SEM INC.</div>
                <div style="padding-top: 40%;padding-bottom: 20%; color: white;">
                    <a target="_blank" class="
                humano-btn-rect
                humano-text-typo-h3
                humano-bg-color-turquoise">
                        Voir le site
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 1%;">
            <div class=" humano-bg-color-grisplatre" style="padding: 20%;">
                <div class="default rounded-circle" style="border: solid; "></div>

                <!-- <img src="../../../../../assets/images/default_company.svg" alt="" class="rounded-circle" width="50%"
                    style="border: solid; "> -->
                <div class="humano-text-typo-h3">BOISERIES SEM INC.</div>
                <div style="padding-top: 40%;padding-bottom: 20%; color: white;">
                    <a target="_blank" class="
                humano-btn-rect
                humano-text-typo-h3
                humano-bg-color-turquoise">
                        Voir le site
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 1%;">
            <div class=" humano-bg-color-grisplatre" style="padding: 20%;">
                <div class="default rounded-circle" style="border: solid; "></div>

                <!-- <img src="../../../../../assets/images/default_company.svg" alt="" class="rounded-circle" width="50%"
                    style="border: solid; "> -->
                <div class="humano-text-typo-h3">BOISERIES SEM INC.</div>
                <div style="padding-top: 40%;padding-bottom: 20%; color: white;">
                    <a target="_blank" class="
                humano-btn-rect
                humano-text-typo-h3
                humano-bg-color-turquoise">
                        Voir le site
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>