<div id="media-contact"></div>
<div class="content">
  <div class="humano-page-title app">Contact</div>
  <div class=" row">
    <div class="col-sm-6 ">
      <div class="humano-text-typo-h3">
        Renseignements
      </div>
      <div class="humano-text-typo-h4 humano-text-color-noirclair">
        Vous avez ou vous cherchez un projet immobilier? Vous souhaitez en apprendre davantage sur nos services et
        le fonctionnement de la plateforme? Nous sommes ravis d’en discuter avec vous.
      </div>
      <div class="humano-text-typo-h4 humano-text-color-grisfonce" style="margin-top:10px;margin-left:30px;">
        +1 514 995-3992 <br>
        info@groupehumano.com
      </div>
      <div class="humano-text-typo-h3 humano-text-color-turquoise ">
        Nouvelles opportunités d’affaires
      </div>
      <div class="humano-text-typo humano-text-color-noirclair p " style="margin-top:10px;">
        Communiquez avec nous pour discuter de nouvelles opportunités d’affaires, notamment si vous êtes un
        manufacturier ou fournisseur de matériaux et que vous souhaitez intégrer vos produits et matériaux à même
        la plateforme collaborative.
      </div>
      <div class="humano-text-typo-h4 humano-text-color-grisfonce" style="margin-top:5px;margin-left:30px;">
        Monsieur Daniel Fauteux <br>
        Président et Directeur Développement des affaires<br>
        +1 514 995-3992<br>
        dfauteux@groupehumano.com <br>
      </div>
    </div>
    <div class="col-sm-6 ">
      <div class="humano-bg-color-turquoise contact">
        <div class="humano-text-typo-h3 humano-text-color-blanc" style="text-align: center;">
          Écrivez-nous
        </div>
        <div class="row">
          <div class="col-sm-6" style="margin-top:15px;">
            <div class="humano-text-typo-h4">
              Prénom
            </div>
            <div class="input-group flex-nowrap  ">
              <input type="text" placeholder="Prénom" class="form-control  " />
            </div>
          </div>
          <div class="col-sm-6" style="margin-top:15px;">
            <div class="humano-text-typo-h4">
              Nom
            </div>
            <div class="input-group flex-nowrap  ">
              <input type="text" placeholder="Nom" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="margin-top:15px;">
            <div class="humano-text-typo-h4">
              Courriel
            </div>
            <div class="input-group flex-nowrap  ">
              <input type="text" placeholder="Courriel" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6" style="margin-top:15px;">
            <div class="humano-text-typo-h4">
              Numéro de téléphone
            </div>
            <div class="input-group flex-nowrap  ">
              <input type="text" name="" id="" placeholder="Numéro de téléphone" class="form-control" />
            </div>
          </div>
        </div>
        <div class="row  " style="margin-top:10px;">
          <div class="col-sm-6">
            <div class="humano-text-typo-h4">
              Message
            </div>
            <div class="input-group flex-nowrap  ">
              <textarea type="text" name="" id="" placeholder="Message" class="form-control " rows="5"></textarea>
            </div>
          </div>
        </div>
        <div style="margin-top:30px;text-align: center;">
          <a href="javascript:void(0)" class="humano-btn-rect"> Envoyer</a>
        </div>
      </div>
    </div>
  </div>
</div>