<div class="container">
    <div class="row">
        <div class="title">
            Inscription
        </div>
        <div>

            <form>
                <div class="form-group">
                    <label>Prenom</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Prenom">
                </div>
                <div class="form-group">
                    <label>Nom</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Nom">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Email">
                </div>
                <div class="form-group">
                    <label>Nom de l'entreprise</label>
                    <input type="email" class="form-control form-control-lg" placeholder="Nom de l'entreprise">
                </div>
                
                <div style="text-align: center; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-lg btn-success" >Enregistrer</button>
                </div>
            </form>

        </div>
    </div>
</div>