
<div class="container" style="padding-bottom: 10%;">
    <div class="row rounded" style="border: 5px solid;border-color: #07322C;">
        <div class="col-lg-4" style="padding-top: 1%;padding-bottom: 2%;padding-right: 3%;padding-left: 3%;">
            <div routerLink="administration" >
                <!-- <img src="../../../../../assets/images/soumission-component.jpeg" alt="" width="100%" style="border-radius: 100%;"> -->
                <div class="soumission imgAdmin"></div>
                <h3 style="text-align: center; margin-top: 5%;">Soumission</h3>
            </div>
        </div>
        <div class="col-lg-4" style="padding-top: 1%;padding-bottom: 2%;padding-right: 3%;padding-left: 3%;">
            <div>
                <!-- <img src="../../../../../assets/images/administration-component.jpeg" alt="" width="100%" style="border-radius: 100%;"> -->
                <div class="administration imgAdmin"></div>
                <h3 style="text-align: center; margin-top: 5%;">Administration</h3>
            </div>
        </div>
        <div class="col-lg-4" style="padding-top: 1%;padding-bottom: 2%;padding-right: 3%;padding-left: 3%;">
            <div>
                <!-- <img src="../../../../../assets/images/execution-component.jpeg" alt="" width="100%" style="border-radius: 100%;"> -->
                <div class="execution imgAdmin"></div>
                <h3 style="text-align: center; margin-top: 5%;">Exécution</h3>
            </div>
        </div>
    </div>
</div>
