<div class="container">
    <div class="row">
        <div class="title">
            Nouveau utilisateur
            <p style="font-size: 1.2rem;">Cueillette d'information</p>
        </div>
        <div>
            <form>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Prenom</label>
                        <input type="email" class="form-control form-control-lg" placeholder="Prenom">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Nom</label>
                        <input type="email" class="form-control form-control-lg" placeholder="Nom">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Couriel</label>
                        <input type="email" class="form-control form-control-lg" placeholder="Email">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Entreprise</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection une entreprise --</option>
                            <option>Cadre supérieur</option>
                            <option>Cadre intermediare</option>
                            <option>Employé</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Type d'utilisateur</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection un type d'utilisateur --</option>
                            <option>Cadre supérieur</option>
                            <option>Cadre intermediare</option>
                            <option>Employé</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Gestionnaire</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection un gestionnaire --</option>
                            <option>Gestionnaire 1</option>
                            <option>Gestionnaire 2</option>
                            <option>Gestionnaire 3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>N Telephone personnel</label>
                        <input type="email" class="form-control form-control-lg" placeholder="N Telephone personnel">
                    </div>
                    <div class="form-group col-lg-6">
                        <label>N Telephone du bureau</label>
                        <input type="email" class="form-control form-control-lg" placeholder="N Telephone du bureau">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Statut</label>
                        <select class="form-control form-control-lg">
                            <option>-- Selection un gestionnaire --</option>
                            <option>Activé</option>
                            <option>Désactivé</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Date création</label>
                        <input type="email" class="form-control form-control-lg" placeholder="Date creation">
                    </div>
                </div>
                <div style="text-align: center; padding-bottom: 10px;">
                    <button type="submit" class="btn btn-lg btn-success"><i class="bi bi-send"></i>&nbsp;Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>