<div class="container">
    <div class="row">
        <div class="title">
            Requete de reinitialisation de mot de passe
        </div>
        <div style="padding-left: 35%; padding-right: 35%;">
            <input class="form-control form-control-lg col-lg-6" type="text" placeholder="Email"
                aria-label=".form-control-lg example">
            <p class="form-control form-control-lg col-lg-6 btns" type="button"><img
                    src="../../../../../assets/images/send-white.png" alt="" width="10%"> Envoyer</p>
        </div>
    </div>
</div>