<div id="media-publier-un-projet"></div>
<div class="content">
    <div class="app">Trouver une entreprise</div>
        <div class="humano-text-typo-h3" style="margin-top:30px;">
            Trouvez une entreprise membre du réseau Humano qui partage la façon de faire Humano!
        </div>
        <div class="humano-text-typo-h4">
            Trouvez le maître d’œuvre, architecte, entrepreneur général, sous-traitant d’un corps de métier,
            manufacturier ou fournisseur de matériaux que vous cherchez, dans votre région ou ailleurs au Québec,
            à l’aide de notre outil de recherche de membres du réseau Humano.
        </div>
    <div class="row humano-text-typo-h3" style="margin-top: 3%;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Critères
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="mb-3">
                            <label class="form-label humano-text-typo-h4">Region</label>
                            <select class="form-select form-select-lg" aria-label="Default select example">
                                <option value="1">Region1</option>
                                <option value="2">Region2</option>
                                <option value="3">Region3</option>
                            </select>
                        </div>
                        <div class="mb-3 humano-text-typo-h4">
                            <label class="form-label ">Type d’intervenant</label>
                            <select class="form-select form-select-lg" aria-label="Default select example">
                                <option value="1">Construction</option>
                                <option value="2">Construction</option>
                                <option value="3">Construction</option>
                            </select>
                        </div> 
                        <div style="text-align: center;margin-top: 5%;">
                            <a class=" humano-btn-rect">
                                Rechercher
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>