<div class=" row " id="media-apropos"></div>
<div class="content">
    <div class="humano-page-title humano-text-color-vert app">À propos</div>
    <div style="margin-top:30px;">
        <div class="humano-text-typo-h2">
            Notre mission
        </div>
        <div class="humano-text-typo-h4 humano-text-color-noirclair ">
            Nous regroupons les intervenants de la construction et permettons aux gestionnaires immobiliers de
            réaliser leur projet immobilier en optimisant l’ensemble du processus, de la conception à la
            réalisation.
        </div>
    </div>
    <div class=" row " style="margin-top:30px;">
        <div class="col-sm     ">
            <div class="humano-text-typo-h2">
                Notre vision
            </div>
            <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
                <ul style="  list-style: disc inside;">
                    <li>
                        Faciliter la cohésion au sein de la communauté de la construction
                    </li>
                    <li>
                        Harmoniser la gestion des projets
                    </li>
                    <li>
                        Assurer la traçabilité et la collecte de données intelligentes pour chaque immeuble
                    </li>
                    <li>
                        Propulser le développement durable
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top:30px; margin-bottom: 30px;">
        <div class="humano-text-typo-h2 ">
            Nos valeurs
        </div>
        <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
            <span class=" humano-text-color-turquoise "> Intégrité  </span>: parce que la transparence et le respect
            de tous les intervenants jettent les bases d’un réseau fort et stable.
        </div>
        <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
            <span class=" humano-text-color-turquoise "> Efficacité  </span>: parce que l’optimisation des
            ressources est notre raison d’être, la solution d’Humano se présente comme un remède pour pallier à la
            pénurie de main d’œuvre spécialisée.
        </div>
        <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
            <span class=" humano-text-color-turquoise "> Développement durable </span>: parce que nous croyons que
            la solution Humano peut jouer un rôle déterminant pour réduire les pertes de ressources sur les
            chantiers et favoriser les meilleures pratiques de développement durable.
        </div>
        <div class="humano-text-typo-h4 humano-text-color-noirclair " style="margin-top:10px;">
            <span class=" humano-text-color-turquoise "> Collaboration </span>: la solution Humano se veut une
            réponse aux problématiques engendrés par le travail en silo des entreprises de la construction.
        </div>
    </div>
</div>